<header class="p-3 bg-dark text-white">
  <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-3 text-primary">TravelerZ</a></li>
      <li><a href="/contactus" class="nav-link px-2 text-white">Contact Us</a></li>
      <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
    </ul>

    <div class="text-end">
      <button mat-button routerLink="login" class="btn btn-outline-light me-2">Login</button>
      <button mat-button routerLink="signup" class="btn btn-warning">Sign Up</button>
    </div>
  </div>
</header>
